/* Hide hr by default */
nav ul li hr {
    opacity: 0;
    width: 0;
    transition: all 0.3s ease-in-out;
  }
  
  nav ul li:hover hr {
    opacity: 1;
    width: 100%;
    transition: all 0.5s ease-in-out;
  }
  