
@keyframes zoomIn {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  .parent-banner {
    position: relative; 
    overflow: hidden; 
  }
  
  .bannerImage {
    animation: zoomIn 6s ease-in-out infinite;
    transition: transform 0.5s;
    object-fit: cover; 
    background-color: black !important;
  }
  
  .bannerInfo {
    position: absolute;
    transform: translate(0%, 150%);
  }
  .overlay {
    position: absolute;
    inset: 0;
    background-color: black;
    opacity: 0.4;
  }